<div>
  {{#link-to "index" class="menu index"}}Home{{/link-to}}
  <div class="photo">
    <img src="https://pbs.twimg.com/profile_images/744931293889069057/0eaUKzT8_400x400.jpg" alt="author photo">
  </div>
  <h2>About Hockey Horoscopes</h2>
  <div class="intro">
    <p>Haven't you ever wondered what the heck hockeys are doing? Now with hockey horoscope, you can figure out if they're being affected by their moon in Aquarius or if they're just morons!</p>

    <p>Hockey Horoscopes has little to no bearing on real life. Please proceed with caution. </p>
  </div>

  <div class="author">
    <p>Created by <a href="https://twitter.com/hzabarsky">Hannah</a> with the utmost love and affection.</p>
  </div>
  <div class="github">
    <p>Come check this project out on <a href="https://github.com/hannah/hockey-horoscopes">Github</a>. Like what you see? I'm looking for a full time job!</p>
  </div>
</div>
